#wowza{
	width: 100%;
	height: 500px;
}

#conversacion{
	height: 370px;
	border: 1px solid #ccc;
	padding: 12px;
	overflow-y: scroll;
}

#conversacion p{
	font-weight: bold;
}

@media (max-width: @screen-xs-max){
	#wowza{
		width: 100%;
		height: 200px;
	}
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
	#wowza{
		width: 300px;
		height: 300px;
	}
	
	#conversacion{
		margin-top: 20px;
		height: 150px;
	}
}